{% extends 'base.html' %} 

{% block head %} 
	<link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}" />
{% endblock %}

{% block title %} {{ name }} {% endblock %} 

{% block content %}

<body id="landing">
	{{ name }} loading from {{ g.ua }}

	{# 
		by checking like this we also manage scenarios where 
		g.token is None, meaning the user is not logged in, or 
		the cookie was invalid.
	#}
	{% if g.token and g.token.auth %}
		<h1>authenticated</h1>
	{% else %}
		<h1>unauthenticated</h1>
	{% endif %}
</body>



{% endblock %}
