<style>
    .recommendation{
        display: block;
        color: white;
        display: block;
    }
    .recommendation h1{
        font-size: 48px;
    }
    .recommendation-container{
        display: flex;
    }
    .recommendation-display{
        width: 200px;
        height: 300px;
        border-radius: 30px;
        margin-top: 10px;
        margin-left: 50px;
        background-color: #9290C3;
        position: relative;
        display: absolute;
    }
    .recommendation-image
    {
        width: 200px;
        height: 240px;
        overflow: hidden;
    }
    .recommendation-name{
        font-size: 24px; 
        width:200px ;
        height: 60px; 
        text-align: center; 
        position:absolute; 
        bottom: 1px; 
        margin: 0; 
        border-top: 1px solid #5F3B51; 
        display: flex; 
        justify-content: center;
    }
    .recommendation-invisible
    {
        width: 200px;
        height: 300px;
        border-radius: 30px;
        margin-top: 10px;
        margin-left: 50px;
        background-color: #9290C3;
        position: relative;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .recommendation-invisible button
    {
        width: 150px;
        height: 50px;
        border-radius: 30px;
        background-color: #535C91;
        margin: 10px;
        font-size: 20;
        color: white;
        cursor: pointer;
    }
    
</style>
<div class="recommendation">
    <h1>Recommendation</h1>
    <div class="recommendation-container"> 
        {% for game in recommendation_list %}
            <div class="recommendation-display" onmouseover="game_hovering(this)">
                <div class="recommendation-image">
                    <img style="width: 200px;height: 300px; object-fit:cover; border-top-left-radius: 30px; border-top-right-radius: 30px;" src="{{ url_for('static', filename=game.image) }}" alt="game">
                </div>
                <div class="recommendation-name">
                    <p>{{game.name}}</p>
                </div>
            </div>
            <div class="recommendation-invisible" onmouseout="game_hovering_display(this)">
                <button>Details</button>
            </div>
        {% endfor %} 
    </div>
</div>
<script>
    function game_hovering(element)
    {
        var Display = element.nextElementSibling;
        element.style.display = 'none';
        Display.style.display = 'flex';
    }
    function game_hovering_display(element)
    {
        var Display = element.previousElementSibling;
        Display.style.display = 'block';
        element.style.display = 'none';
    }
    function playinggame(name)
    {
        document.getElementById('game-on-display').style.display='flex';
        document.getElementById('game-on-launching').innerText='Launching '+name+' ...';
        document.getElementById('game-on-launching').style.display='flex';
        setTimeout(function() {
        document.getElementById('game-on-launching').style.display = 'none';
        document.getElementById('game-on-starting').innerText='Starting '+name+'!';
        document.getElementById('game-on-starting').style.display = 'flex';
        }, 1500);
        setTimeout(function() {
        document.getElementById('game-on-starting').style.display = 'none';
        document.getElementById('game-on-display').style.display = 'none';
        }, 2000);
    }
</script>
{% include 'elements/game-launching.html' %}