{% extends '_example/base.html' %} 

{% block head %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='styles/_example/auth.css') }}"
/>
{% endblock %} 

{% block title %} Login {% endblock %} 

{% block content %}
	<main id="auth-login">
		<h1>{{ g.ua }}</h1>
		<h2>{{ name }}</h2>

		<a href="{{ url_for('root.index') }}">Go Home</a>

		<br />
		<br />
		<br />
		<br />

		{% if error is defined %}
		<pre>
			kind: {{ error["kind"] }}
			message: {{ error["message"] }}
		</pre
		>
		{% endif %}

		<form action="{{ url_for('auth.login') }}" method="post">
			{{ login_form.csrf_token }}
			{{ login_form.username.label }} {{ login_form.username }}
			{% if login_form.username.errors %}
				<ul>
					{% for error in login_form.username.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{{ login_form.password.label }} {{ login_form.password }}
			{% if login_form.password.errors %}
				<ul>
					{% for error in login_form.password.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			<input type="submit" value="Login">
		</form>

	</main>
{% endblock %}
