{% extends '_example/base.html' %} 

{% block head %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='styles/auth.css') }}"
/>
{% endblock %} 

{% block title %} Login {% endblock %} 

{% block content %}

<body id="auth-login">
	<h1>{{ g.ua }}</h1>
	<h2>{{ name }}</h2>

	<a href="{{ url_for('root.index') }}">Go Home</a>

	<br />
	<br />
	<br />
	<br />

	{% if error is defined %}
	<pre>
		kind: {{ error["kind"] }}
		message: {{ error["message"] }}
	</pre
	>
	{% endif %}

	<form action="{{ url_for('auth.login') }}" method="post">
		<label for="user">Username</label>
		<input id="user" name="user" type="text" />
		<label for="pass">Password</label>
		<input id="pass" name="pass" type="password" />
		<input type="submit" />
	</form>
</body>

{% endblock %}
