{% extends '_example/base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
	<main id="singup">
		{% if error is defined %}
			<pre>
				kind: {{error["kind"]}}
				message: {{error["message"]}}
			</pre>
		{% endif %}

		<form action="{{ url_for('auth.signup') }}" method="post">
			{{ signup_form.csrf_token }}
			{{ signup_form.username.label }} {{ signup_form.username }}
			{% if signup_form.username.errors %}
				<ul>
					{% for error in signup_form.username.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{{ signup_form.password.label }} {{ signup_form.password }}
			{% if signup_form.password.errors %}
				<ul>
					{% for error in signup_form.password.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			<input type="submit" value="Sign Up">
		</form>
	</main>
{% endblock %}