#games-landing {
	background-color: aqua;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 18em);
	grid-template-rows: repeat(auto-fit, 32em);

	padding: 2em;
	gap: 2em;
}

.card {
	width: 18em;
	height: 32em;

	text-decoration: none;
	
	background-color: grey;
}

.card img {
	width: 18em;
	height: 18em;
	object-fit: cover;
}

.card span {
	margin: 1em;
	color: white;
}

.card .title {
	font-weight: bold;
	display: block;
}

.card .desc {
	display: block;
	opacity: 0.8;
}