{% extends '_example/base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/_example/user.css') }}">
{% endblock %}

{% block content %}
    {% if user is defined %}
        <main id="user_page" style="{{ user_style_string }}">
            <h1>{{ user.username }}</h1>


            <div class="grid">
                {% for game in library %}
                    {{ game }}
                {% endfor %}
            </div>

        </main>
    {% endif %}
{% endblock %}
